*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Volkhov', serif;
}
/**************** INDEX **************** /
/**************** ABOUT **************** /
/**************** SERVICES **************** /
/**************** BLOG **************** /
/**************** LANDING PAGE **************** /
/**************** ELEMENTS **************** /
/**************** 404 PAGE **************** /
/**************** CONTACT**************** /